* {
  margin: 0;
  padding: 0;
}

html {
  background-color: lightgray;
}

nav {
  height: 26px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

nav img {
  padding-left: 50px;
}

nav ul li {
  list-style: none;
  padding: 0px 15px 15px 2px;
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 4px;
  display: inline-block;
}

nav ul li ul {
  height: 28px;
  float: left;
  display: inline-block;
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-left: -150px;
  padding-left: 20px;
  width: 1426px;
}

nav ul li ul li a {
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
}

.ManCity,
.ManUnited {
  justify-content: center;
  margin: auto;
  background-color: white;
  overflow-wrap: break-word;
  width: 427px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 376px) {
  .ESPN {
    padding-left: 0;
  }

  .football {
    padding-left: 55px;
    height: 26px;
  }

  html {
    font-size: 10px;
  }

  nav ul li {
    padding: 3px 0px 0px 0px;
  }

  nav ul li ul {
    padding: 0px 5px 5px 2px;
  }

  .ManCity,
  .ManUnited {
    width: 300px;
    padding: 0px 30px 30px 0px;
  }

  .cityimage,
  .unitedimage {
    width: 330px;
  }
}
